<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crashaviatorjogo.slod">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name="com.crashaviatorjogo.slod.App"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:theme="@style/AviatorTheme"
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        tools:ignore="DataExtractionRules"
        android:supportsRtl="true">

        <activity android:name="com.crashaviatorjogo.slod.presentation.ui.AviatorActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.crashaviatorjogo.slod.view.activity.MainActivity"
            android:theme="@style/Theme.Aviator_11"
            android:exported="true">
        </activity>
    </application>

</manifest>